    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<%= render "navbar"%>
<div class="row">

  <div class="col s3">
    <%= render "sidenav"%>
  </div>   

  <div class="col s9">


  <div class="row">
     <div class="tamanhodivupl">
     <h5 class="orange-text center ">Bem vindo ao Site de Automação do Batista.</h5>
     </div>
  </div>


  <div class="row">
     <div class="tamanhodiv1">
     <h5 class="center ">Neste Site você irá testar variás funcionalidades para ficar fera em automação.</h5>
     </div>
  </div>

  <div class="slider">
    <ul class="slides">
      <li>
        <%= image_tag("alert.png",class: "center")%> <!-- random image -->
        <div class="caption center-align">
          <h3 class="black-text">Alerts</h3>
          <h5 class="black-text">Automatize Alerts.</h5>
        </div>
      </li>
      <li>
        <%= image_tag("picker.png",class: "center")%>  <!-- random image -->
        <div class="caption left-align">
          <h3 class="black-text">DataPickers</h3>
          <h5 class="black-text">Automatize  Datapickers.</h5>
        </div>
      </li>
      <li>
        <%= image_tag("radiobox.png",class: "center")%> <!-- random image -->
        <div class="caption right-align">
          <h3 class="black-text">Checkbox</h3>
          <h5 class="black-text">Automatize Checkboxes.</h5>
        </div>
      </li>
      <li>
        <%= image_tag("select.png",class: "center")%> <!-- random image -->
        <div class="caption center-align">
          <h3 class="black-text">Selects</h3>
          <h5 class="black-text">Automatize Selects.</h5>
        </div>
      </li>
      <li>
        <%= image_tag("deadpool.png",class: "center")%> <!-- random image -->
        <div class="caption center-align">
          <h3>Entre outros!</h3>
          <h5 class="light grey-text text-lighten-3">Até</h5>
        </div>
      </li>
    </ul>
  </div>

  <!-- Tap Target Structure -->
  <div class="tap-target blue" data-target="menu">
    <div class="tap-target-content white-text">
      <h5>Contatos</h5>
      <h7>Email: brunobatista101@gmail.com</h7>
      <br/>
      <h7><%= link_to "Link: Github", href="https://github.com/brunobatista25", :method => "get", class: "breadcrumb white-text text-darken-4"%></h7>
      <br/>
      <h7><%= link_to "Link: Linkedin", href="www.linkedin.com/in/bruno-batista-87734464", :method => "get", class: "breadcrumb white-text text-darken-4"%></h7>
    </div>
  </div>
  </div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
  <div class="row">
 <!-- Element Showed -->
  <a id="menu" class="waves-effect waves-light btn btn-floating right" onclick="$('.tap-target').tapTarget('open')" ><i class="material-icons">menu</i></a>

  <!-- Tap Target Structure -->
  <div class="tap-target blue" data-target="menu">
    <div class="tap-target-content white-text">
      <h5>Contatos</h5>
      <h7>Email: brunobatista101@gmail.com</h7>
      <br/>
      <h7><%= link_to "Link: Github", href="https://github.com/brunobatista25", :method => "get", class: "breadcrumb white-text text-darken-4"%></h7>
      <br/>
      <h7><%= link_to "Link: Linkedin", href="www.linkedin.com/in/bruno-batista-87734464", :method => "get", class: "breadcrumb white-text text-darken-4"%></h7>
    </div>
  </div>
  </div>










  </div>
</div>