<%= render "navbar"%>
<div class="row">

  <div class="col s3">
    <%= render "sidenav"%>
  </div>   

  <div class="col s9">

    <div class="col s9">

      <div class="row">
        <div class="col s12" style="margin-top: 20px;">
          <%= link_to "Home", home_index_path, :method => "get", class: "breadcrumb grey-text text-darken-4" %>
          <%= link_to "Treinamento", treinamento_home_path, :method => "get", class: "breadcrumb grey-text text-darken-4"%>
          <%= link_to "Dropdown e Select", buscaelementos_dropdowneselect_path, :method => "get", class: "breadcrumb grey-text text-darken-4"%>
        </div>
      </div>

      <div class="tamanhodiv">
        <div class="row">
          <div class="col s6">
            <h5>Dropdown</h5>
          </div>
          <div class="col s6">
            <h5>Mensagens de Sucesso!</h5>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s5">
          <div class="row">
            <ul id= "dropdown" class= "dropdown-content">
              <li><a id="dropdown1" onclick="ativaedesativadrop1()">Inbox<span class="badge">12</span></a></li>
              <li><a id="dropdown2" onclick="ativaedesativadrop2()">Unread<span class="new badge">4</span></a></li>
              <li><a  id="dropdown3" onclick="ativaedesativadrop3()">Sent</a></li>
              <li class= "divider"></li>
              <li><a id="dropdown4" onclick="ativaedesativadrop4()">Outbox<span class="badge">14</span></a></li>
            </ul>
              <a class= "btn dropdown-button" href= "#" data-target= "dropdown">Mail Box
              <i class= "mdi-navigation-arrow-drop-down right"></i></a>
          </div>
        </div>
        <div class="col s7">
          <div id="div1" style="display:none"><h5>Você Clicou no Dropdown Inbox!</h5></div>
          <div id="div2" style="display:none"><h5>Você Clicou no Dropdown Unread!</h5></div>
          <div id="div3" style="display:none"><h5>Você Clicou no Dropdown Sent!</h5></div>
          <div id="div4" style="display:none"><h5>Você Clicou no Dropdown Outbox!</h5></div>
        </div>
      </div>

      <div class="tamanhodiv row">
        <h5>Selects</h5>
      </div>


      <div>
        <div class="input-field col s12">
          <select multiple>
            <option value="" disabled >Escolha sua opção</option>
            <option value="1">Naruto</option>
            <option value="2">Dragon Ball</option>
            <option value="3">Cavaleiros dos Zodiacos</option>
          </select>
          <label>Desenho Favorito</label>
        </div>

        <div class="input-field col s12">
          <select multiple>
            <option value="" disabled >Escolha sua opção</option>
            <option value="1">Ronaldo</option>
            <option value="2">Ronaldinho Gaucho</option>
            <option value="3">Romario</option>
          </select>
          <label>Escolha sua opção</label>
        </div>

        <div class="input-field col s12">
          <select>
            <optgroup label="Grupo 1">
              <option value="1">Brasil</option>
              <option value="2">Alemanha</option>
            </optgroup>
            <optgroup label="Grupo 2">
              <option value="3">Inglaterra</option>
              <option value="4">Argentina</option>
            </optgroup>
          </select>
          <label>Escolha sua opção</label>
        </div>

        <div class="input-field col s12 m6">
          <select class="icons">
            <option value="" disabled >Gênero</option>
            <option value=""  class="left circle">Homem</option>
            <option value=""  class="left circle">Mulher</option>
          </select>
          <label>Escolha sua opção</label>
        </div>
        <div class="input-field col s12 m6">
          <select class="icons">
            <option value="" disabled >Sexo</option>
            <option value=""  class="left circle">Masculino</option>
            <option value=""  class="left circle">Feminino</option>
          </select>
          <label>Escolha sua opção</label>
        </div>

        <label>Browser Favotiro</label>
        <select id="dropdown" class="browser-default">
          <option value="" disabled selected>Escolha sua opção</option>
          <option value="1">Chrome</option>
          <option value="2">Firefox</option>
          <option value="3">Safari</option>
          <option value="3">Internet Explorer</option>
        </select>
      </div>

      <div class="tamanhodiv row">
      </div>

      <div class="row">
        <div class="center">
          <%= link_to "Voltar", treinamento_home_path, :method => "get", class:  "btn red"%>
        </div>
      </div>
    
  </div>

</div>

<!-- Hotjar Tracking Code for https://automacaocombatista.herokuapp.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:927077,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>