<h4 class="bold" style="margin-top: 50px;"><h4>Tudo Sobre API</h4>
<ul class="collapsible collapsible-accordion">
  <li class="bold"><a class="collapsible-header ">Automatizando a Api do Batista</a>
    <div class="collapsible-body">
      <ul>
        <li><%= link_to "Sobre a api do Batista", apibatista_sobre_api_path, :method => "get"%></li>
      </ul>
    </div>
  </li>
  <li class="bold"><a class="collapsible-header ">Tudo Sobre API</a>
    <div class="collapsible-body">
      <ul>
        <li><%= link_to "O que é Api", api_o_que_e_api_path, :method => "get"%></li>
        <li><%= link_to "O que é Cliente-Servidor", api_o_que_e_cliente_servidor_path, :method => "get"%></li>
        <li><%= link_to "O que é uma requisição", api_o_que_e_requisicao_path, :method => "get"%></li>
        <li><%= link_to "O que é uma URL", api_o_que_e_url_path, :method => "get"%></li>
        <li><%= link_to "O que é Metódos", api_o_que_e_metodos_path, :method => "get"%></li>
        <li><%= link_to "O que é uma Header", api_o_que_e_header_path, :method => "get"%></li>
        <li><%= link_to "O que é uma Body", api_o_que_e_body_path, :method => "get"%></li>
        <li><%= link_to "O que é uma Resposta", api_o_que_e_resposta_path, :method => "get"%></li>
      </ul>
    </div>
  </li>
  <li class="bold"><a class="collapsible-header ">Sobre Códigos HTTP</a>
    <div class="collapsible-body">
      <ul>
        <li><%= link_to "Códigos HTTP", http_codigo_http_path, :method => "get"%></li>
        <li><%= link_to "1xx: Informações gerais", http_codigo_informacoes_path, :method => "get"%></li>
        <li><%= link_to "2xx: Successo na requisição e na resposta", http_codigo_sucesso_path, :method => "get"%></li>
        <li><%= link_to "3xx: Redirecionamento para outra URL", http_codigo_redirecionamento_path, :method => "get"%></li>
        <li><%= link_to "4xx: Erro (por parte do cliente)", http_codigo_erro_cliente_path, :method => "get"%></li>
        <li><%= link_to "5xx: Erro (por parte do servidor).", http_codigo_erro_servidor_path, :method => "get"%></li>
      </ul>
    </div>
  </li>
  <li class="bold active"><a class="collapsible-header ">Sobre Verbos HTTP</a>
    <div class="collapsible-body">
      <ul>
        <li><%= link_to "GET", verbos_get_path, :method => "get"%></li>
        <li><%= link_to "POST", verbos_post_path, :method => "get"%></li>
        <li><%= link_to "PUT", verbos_put_path, :method => "get"%></li>
        <li><%= link_to "DELETE", verbos_delete_path, :method => "get"%></li>
      </ul>
    </div>
  </li>
  <li class="bold"><a class="collapsible-header ">Fazendo uma documentação para API</a>
    <div class="collapsible-body">
      <ul>
        <li><a href="https://apiary.io/">Apiary</a></li>
        <li><a href="https://app.swaggerhub.com/">Swagger</a></li>
      </ul>
    </div>
  </li>
</ul>