<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<%= render "navbar"%>
<div class="row">

  <div class="col s3">
    <%= render "sidenav"%>
  </div> 
  
  <div class="col s9">
    <div class="row">
      <div class="col s12" style="margin-top: 20px;">
        <%= link_to "Home", home_index_path, :method => "get", class: "breadcrumb grey-text text-darken-4" %>
        <%= link_to "Home Api", api_home_api_path, :method => "get", class: "breadcrumb grey-text text-darken-4"%>
        <%= link_to "Metodos", api_o_que_e_metodos_path, :method => "get", class: "breadcrumb grey-text text-darken-4"%>
      </div>
    </div>

    <div class="center">
      <%= link_to "Voltar", api_o_que_e_url_path, :method => "get", class:  "btn waves-light blue"%>
      <%= link_to "Próximo", api_o_que_e_header_path, :method => "get", class:  "btn waves-light blue"%>
    </div>


    <h3>Método</h3>
    <p>
      Esse é o <strong>verbo</strong> que você usará para <strong>interagir com o recurso</strong>.
      Normalmente, você tem 4 opções para interagir:
    </p>
    <ul>
      <li>GET, que pede ao servidor o recurso;</li>
      <li>POST, que pede ao servidor que crie um recurso novo;</li>
      <li>DELETE, que pede ao servidor que apague um recurso;</li>
      <li>PUT, que pede ao servidor a atualização ou edição de um recurso.</li>
    </ul>
    <p>
      Dependendo das permissões do cliente ou do tipo de API, <strong>nem sempre é possível apagar ou editar recursos</strong>,
      por exemplo. Imagine que desagradável seria que alguém conseguisse editar os tweets de outras pessoas ou criasse locais
      falsos no Google Maps.
    </p>
    <p>
      Portanto, <strong>cada método é válido só em certos casos</strong>, e suas aplicações estão descritas no conjunto de
      regras (<a href="http://sensedia.com/blog/apis/blocos-de-construcao-parte-2-documentacao/" target="_blank">na
      <span style="text-decoration: underline;">Documentação</span></a>) da API.
    </p>


    <div class="center">
      <%= link_to "Voltar", api_o_que_e_url_path, :method => "get", class:  "btn waves-light blue"%>
      <%= link_to "Próximo", api_o_que_e_header_path, :method => "get", class:  "btn waves-light blue"%>
    </div>
  </div>

</div>

<!-- Hotjar Tracking Code for https://automacaocombatista.herokuapp.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:927077,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>