<%= form_for(@user ,class: "col s8 center") do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> proibiu que este usuário fosse salvo:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col s6"> 
      <div class="input-field">
        <%= f.label "Nome *"%><br>
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="col s6"> 
      <div class="input-field">
        <%= f.label "Último Nome *" %><br>
        <%= f.text_field :lastname %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s6"> 
      <div class="input-field">
        <%= f.label "Email *" %><br>
        <%= f.text_field :email %>
      </div>
    </div>
   <div class="col s6"> 
      <div class="input-field">
        <%= f.label :Endereço %><br>
        <%= f.text_field :address %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s6"> 
      <div class="input-field">
        <%= f.label :Universidade %><br>
        <%= f.text_field :university %>
      </div>
    </div>
    <div class="col s6"> 
      <div class="input-field">
        <%= f.label :Profissão %><br>
        <%= f.text_field :profile %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s6"> 
      <div class="input-field">
        <%= f.label :Gênero %><br>
        <%= f.text_field :gender %>
      </div>
    </div>
    <div class="col s6"> 
      <div class="input-field">
        <%= f.label :Idade %><br>
        <%= f.number_field :age %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 center"> 
      <div class="actions btn waves-effect green">
        <%= f.submit "Criar", data: { disable_with: 'Enviando...' }%>
      </div>
      <%= link_to 'Voltar', treinamento_home_path , class: "btn waves-light red"%>
    </div>
  </div>
  
<% end %>