<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<%= render "navbar"%>
<div class="row">

  <div class="col s3">
    <%= render "sidenav"%>
  </div>   

  <div class="col s9">

      <div class="row">
        <div class="col s12" style="margin-top: 20px;">
        <%= link_to "Home", home_index_path, :method => "get", class: "breadcrumb grey-text text-darken-4" %>
        <%= link_to "Treinamento", treinamento_home_path, :method => "get", class: "breadcrumb grey-text text-darken-4"%>
        <%= link_to "Success", buscaelementos_success_path, :method => "get", class: "breadcrumb grey-text text-darken-4"%>
        </div>
      </div>



  <div class="row">
     <div class="tamanhodiv2">
     <h5 class="center">Editar Usuário!!</h5>
     </div>
  </div>


<div class="row">
<div class="col s2"></div>
 <div class="col s8 center">

<%= render 'form' %>
</div>
</div>

  </div>
</div>

