<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<%= render "navbar"%>
<div class="row">
 
  <div class="col s3">
    <%= render "sidenav"%>
  </div>   

  <div class="col s9">

    <div class="row">
      <div class="col s12">
        <%= link_to "Home", home_index_path, :method => "get", class: "breadcrumb grey-text text-darken-4" %>
        <%= link_to "Treinamento", treinamento_home_path, :method => "get", class: "breadcrumb grey-text text-darken-4"%>
        <%= link_to "DataPicker", widgets_datapicker_path, :method => "get", class: "breadcrumb grey-text text-darken-4"%>
      </div>
    </div>

    <div class="row">
      <div class="col s3"></div>
        <div class="col s8 tamanhodiv2 center">
          <h5 class="">Data Picker!!</h5>
        </div>
        <div class="col s2"></div>
      </div>

      <div class="row">
       <div class="col s3"></div>
        <div class="col s8">
         <p class="">Date: <input type="text" id="datepicker"></p>
        </div>
        <div class="col s2"></div>
      </div>

      <div class="row">
        <div class="center">
          <%= link_to "Voltar", treinamento_home_path, :method => "get", class:  "btn red"%>
        </div>
      </div>

    </div>

  </div>

</div>

<script>
$( function() {
  $( "#datepicker" ).datepicker();
} );
</script>

<!-- Hotjar Tracking Code for https://automacaocombatista.herokuapp.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:927077,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>