<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<%= render "navbar"%>
<div class="row">

  <div class="col s3">
    <%= render "sidenav"%>
  </div>   

  <div class="col s9">
 
    <div class="row">
      <div class="col s12" style="margin-top: 20px;">
        <%= link_to "Home", home_index_path, :method => "get", class: "breadcrumb grey-text text-darken-4" %>
        <%= link_to "Treinamento", treinamento_home_path, :method => "get", class: "breadcrumb grey-text text-darken-4"%>
        <%= link_to "Mouse over", iteracoes_mousehover_path, :method => "get", class: "breadcrumb grey-text text-darken-4"%>
      </div>
    </div>

    <div class="row">
       <div class="tamanhodiv2">
       <h5 class="red-text text-darken-1 center">Mouse Over!!</h5>
       </div>
    </div>


   <div class="row">

     <div class="col s5"></div>   
  
     <div class="col s2">
         
       <div class="card">
           <div class="card-image waves-block waves-light">
             <%= image_tag("juger.jpg",class: "center")%>
           </div>
           <div class="card-content">
             <span class="card-title">
               <p class="activator">Passe o mouse aqui</p>
             </span>
           </div>
           <div class="card-reveal">
             <span class="card-title">
                 <i class="fa fa-times right"></i>
                 <div>Parábens</div> 
                 </span>
             <p>Você usou o mouse hover!</p>
           </div>
       </div>

     </div>

    </div>

   <div class="row">
     <div class="center">
       <%= link_to "Voltar", treinamento_home_path, :method => "get", class:  "btn red"%>
     </div>
   </div>
    
</div>
<script>
$('p.activator').mouseover(function(e){
    $(this).trigger('click');
});
</script>

<!-- Hotjar Tracking Code for https://automacaocombatista.herokuapp.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:927077,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>